<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<div id="container">
			<div style="margin:10px 0;">
				english：<input v-model="en" type="text" placeholder="请输入每日一句的英文" style="width: 300px; height: 20px;">
				中文：<input v-model="ch" type="text" placeholder="请输入中文翻译" style="width: 300px; height: 20px;">
				摘自：<input v-model="wh" type="text" placeholder="请输入引用" style="width: 300px; height: 20px;">
			</div>
			<button id="btn2" style="margin-top: 10px;" @click="writeDay">提交</button>
		</div>

		<script type="text/javascript">
			var vm = new Vue({
				el: '#container',
				data: {
					en: '',
					ch: '',
					wh: '',
				},
				created() {
					console.log(111)
				},
				methods: {
					writeDay() {
						axios.post('/writeDaily', {
							contentEnglish: this.en,
							contentChinese: this.ch,
							where: this.wh
						}).then(function(response) {
							console.log(response);
							this.en='';
							this.ch='';
							this.wh='';
						}).catch(function(error) {
							console.log(error);
						});
					}
				}

			})
		</script>
	</body>
</html>
